@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (max-width: 1200px) {
    .corpo-texto {
        flex-direction: column-reverse;
        padding: 6% 1% !important;
        align-items: center !important;
    }

    .imagem__home {
        margin: 0 0 2% 0
    }

    .navegacao {
        justify-content: center;
    }

    .texto_um {
        text-align: left !important;
    }

    .texto_um_paragrafo {
        text-align: justify !important;
    }
}

:root {
    --cor-principal: #7FFFD4;
    --cor-hover: #A9A9A9;
    --cor-gradient: #000000, #000000, #2E4F4F, #ECE5C7;
    --cor-home: #FFFFFF;
    --cor-texto: #FFFFFF;
    --cor-texto-body: #FFF6E0;

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundária: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 15%;
}

.navegacao {
    display: flex;
    gap: 10%;
}

.home {
    font-family: var(--fonte-principal);
    font-size: 1.13rem;
    font-weight: 600;
    color: var(--cor-home);
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to top, var(--cor-gradient));
    color: var(--cor-texto-body);
}

.primeiro-titulo {
    color: var(--cor-principal);
}

.corpo-texto {
    display: flex;
    align-items: flex-start;
    padding: 8% 15%;
    gap: 15%;
}

.corpo-texto-dois {
    padding: 5rem 10rem;
    color: var(--cor-home)
}

.texto_um {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    text-align: justify;
}

.texto_um_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundária);
}

.texto_um_paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-principal)
}

.personalizacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.personalizacao__link__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    /* background-color: #22D4FD; */
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    width: 70%;
    padding: 2%;
    font-size: 1.25rem;
    color: var(--cor-botoes);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: 600;
    cursor: pointer;
}

.personalizacao__link__button:hover {
    background-color: var(--cor-hover);
}

.personalizacao__links__subtitulo {
    font-family: var(--fonte-secundária);
    font-size: 1.25rem;
    font-weight: 600;
}

.personalizacao__about {
    padding: 0 0 4% 0;
    font-family: var(--fonte-secundária);
    font-size: 1.56rem;
    font-weight: 600;
}

.rodape {
    margin: 1%;
    text-align: center;
    color: var(--cor-texto);
    font-size: 0.94rem;
    font-family: var(--fonte-principal);
    bottom: 0;
}

.text_about {
    font-size: 1rem;
    font-family: var(--fonte-principal);
    text-align: justify;
}

.imagem__home {
    width: 35%;
    border-radius: 8px;
}

.imagem__about {
    width: 50%;
    border-radius: 8px;
}